.aboutTitle {
    font-size: 30px;
    color: #4b2e83;
    font-family: 'Encode Sans', Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 40px;
}

.aboutDescr {
    color: #535353;
    font-size: 20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .aboutTitle {
        font-size: 40px;
    }
}

@media (min-width: 1500px) {
    .aboutDescr {
        font-size: 25px;
    }
}