/* Include custom colors and sizing */

/* NavBar styling */
nav {
    background-image: linear-gradient(150deg,#4b2e83, #b7a57a);
    margin-bottom: 2em; 
    padding: 1em;  
    font-family: 'Encode Sans', 'Helvetica', sans-serif;
}

.tabs {
    font-family: 'Open Sans', 'Helvetica', 'sans-serif';
    color: white;
    margin-bottom: 100px;
}

.mr-4 {
    color: white;
    text-decoration: none;
    display: inline;
}

.mr-4:hover {
    color: #b7a57a;
    text-decoration: none;
}

.logOutBtn {
    margin-bottom: 20px;
    margin-left: 100px;
}

/* .signUpPage {
    background-color: #4b2e83;
} */

.signUpPage > h1 {
    text-align: center;
    color: #4b2e83;
    margin-top: 40px;
    margin-bottom: 20px;
}

.signUpPage > h2 {
    text-align: center;
    color: #4b2e83;
    margin-bottom: 20px;
}

@media (max-width: 400px) {
    .name > span {
        display: inline-flex;
    }
}

/* Footer styling */
footer a {
    color: white;
}

footer p {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer a:hover {
    color: #b7a57a;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 1.9rem;
}

@media (max-width: 598px) {
    footer p, a {
        font-size: 15px;
    }
}

@media (min-width: 598px) {
    footer p, a {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    footer p, a {
        font-size: 18px;
    }
}

@media (min-width: 1500px) {
    footer p, a {
        font-size: 20px;
    }
}


