html, body {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color:white;
    margin: 0px;
}

header {
	text-align: center;
	width: 100%;
    height: auto;
}

/* Set gradient background image for navbar. */
.navbar {
    text-shadow: 0.5px 0.5px 0.5px #333;
    background-image: linear-gradient( 150deg,#4b2e83 10%, #b7a57a 90%);
    border-radius: 0 0 85% 85% / 30%;
    overflow: hidden;
    cursor: default;
    padding: 0;
    margin-bottom: 30px;
}

/* Styling for "UW Undergraduate Advising" */
.navbar .navbar-brand {
    list-style-type: none;
    color: WHITE;
    font-family: 'Encode Sans', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900px;
    text-transform: uppercase;
    margin-left: 10px;
}

/* Changes color of text when hovered on to indicate link to home page. */
.navbar-brand:hover {
    color: #b7a57a;
}